doctype html
html(lang="en")
	head
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1")

		link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css")
		link(rel="stylesheet", href="css/main.css")

		title Éliane Radigue: Modulations in Chiaroscuro

		body

			nav.main-nav#nav
				a.logo(href="http://daily.redbullmusicacademy.com")
				a.text(href="http://daily.redbullmusicacademy.com") Red Bull Music Academy

				.social
					a.share-icon.facebook(data-site="facebook")
					a.share-icon.twitter(data-site="twitter")

			.title-canvas#title-canvas
				.title-overlay

			.body-container
				.title
					.title-inner
						h1 Éliane Radigue: Modulations in Chiaroscuro
						p <span class="credit">Story by: </span> Julien Bécourt

				.main
					p.intro.
						Éliane Radigue receives me in the soothing half-light of her apartment located in the middle of a little street in the 14th arrondissement. It’s not a very good day, she informs me at first, as her back is hurting and she nearly canceled our appointment. To show my gratitude, I slip a copy of Ardor into her hands, a book by Roberto Calasso dedicated to the Vedas, the sacred word of the Brahmins.

					p.
						The radiant octogenarian flips through the book with interest, her luminous gaze a near translucent blue. The charm has worked and a rapport is quickly established between us. We get off to a flying start for a four-hour conversation, over the course of which her memories become haphazardly entangled as she blithely skips from one anecdote to the next. At the end, with a winning smile, she inquires: “You will be able to introduce some order to all that, right?”

					.topic From dodecaphony to musique concrete

					p.
						Eliane Radigue’s life has been marked by decisive encounters that “occurred effortlessly, without anything being forced.” The first pivotal meeting was as a child with her music teacher, Madame Roger, whose lessons captivated her. “She taught me everything, from music notation to theory... Without her, my music would probably never have come into being.” Nonetheless, as a teenager, Radigue tried the harp and the piano, but without much conviction. Already, there loomed the desire within her to make sounds beyond “playing an instrument.”


					.imgL
						img.wavy(src="http://image2.redbull.com/rbx00786/0001/1/300/486/Nice%201955-avec%20Yves%20Klein.a171ee7a.jpg")
						.caption Nice 1955, with Yves Klein Arman <span class="credit">Arman</span>
					p.
						Stifled by an authoritarian mother, she fled to Nice in the summer of 1950. She was just 19 years old. There she met Arman, an avant-garde artist who was part of the Nouveaux Réaliste movement, alongside artists such as Yves Klein, Jacques de la Villeglé, Daniel Spoerri, Ben Vautier and Robert Filliou. Fascinated by the exciting bohemian life beside the Mediterranean, she soon moved in with the famous sculptor and they were married in 1954 and quickly had three children.

					p.
						All the while, Radigue studied music. But the prevailing avant-garde sound of the time wasn’t particularly inspiring. Twelve-tone music, which had originated with Schönberg and Webern, “was intellectually interesting,” she remembers, “but I did not find it satisfying in terms of sound. Because though I might well have adhered to all the rules – horizontality, verticality, inversion, retrograde – I was opposed to the one that meant favoring dissonance.”

					p.
						An intuition already resided within her that music should escape from such dogmatism to resonate with the surrounding world. Even before discovering the existence of musique concrète, she had already been archiving the noises that surrounded her on tape, from the sea surf to the roar of aircraft engines. “I was living near Nice Airport at the time,” she recalls. “The aircraft sounds possessed a wonderfully rich sonority. I remember taking a Nice-Ajaccio flight, and making my own little symphony by simply listening to the sound of the engine. For me, it was a revelation, but it’s something that had developed inside unbeknownst to me: I was spontaneously listening to the world around me and I found music everywhere.” This revelation only awaited a theoretical spark, which would occur shortly thereafter. “When I discovered a radio show by Pierre Schaeffer, it seemed obvious to me,” she continues. “I dove in headfirst.”


					.imgR
						img(src="http://image2.redbull.com/rbx00786/0001/1/300/486/6-environs%20de%20Nice-cr%C3%A9dit-Arman.4b3345b3.jpg")
						.caption Éliane Radigue in Nice <span class="credit">Julien Sirjacq</span>

					.topic From Studio d’Essai to New York

					p.
						In 1955 Radigue returned to Paris with Arman for a roundtable discussion on the poet and philosopher Lanza del Vasto, whose book Return to the Source she had studied. In a fortunate coincidence, Pierre Schaeffer was one of the participants. The young Radigue was introduced by a mutual friend and, gratified by her obvious enthusiasm for his work, Schaeffer afterwards asked her to join the Studio d’Essai at RTF (French Radio and Television Broadcasting), presided over by Pierre Henry, one of the fathers of electroacoustic music. She was conscripted as an intern, sorting, slicing, splicing and editing tapes according to the composer’s instructions.

					p.
						The internship was cut short in 1958, however, following a famous quarrel between Schaeffer and Henry. “The conflict arose from the fact that Pierre Henry spent his days in the studio and did all the work,” she explains. “But he would have liked to occasionally take sole credit instead of sharing credit for compositions with Schaeffer, who often merely endorsed the result without having worked on it. I saw it all from the vantage point of the little intern; I was not even an assistant. (And if I claimed to be more, I don’t think they would have accepted me, because they were both the damnedest machos!) Although I had a strong connection with Schaeffer – one of the most brilliant minds I’ve ever encountered – I felt that he went a bit too far. And as I had taken Pierre Henry’s side, I was dropped too.” Radigue returned to Nice and put aside her career to devote herself to her children, contenting herself with scribbling scores based on the Fibonacci sequence.

					p.
						In 1963, however, Radigue went to New York with Arman and was inspired anew. She met composer James Tenney, who guided her through the New York avant-garde scene and introduced her to established artists such as Philip Corner, Philip Glass, Steve Reich and Charlemagne Palestine. Radigue at last felt valued, and not just as a foil for her husband. “There existed an extraordinary creative profusion at the time,” she confirms. “It was the era of Yvonne Reiner, Merce Cunningham, John Cage, Warhol’s Factory... Exchanges occurred in all directions and in all areas, which did not prevent me from attending concerts at Carnegie Hall and the Metropolitan, because I had never lost track of classical music, which could still transport me into raptures.”


					.video-outer.video-center
						.video-inner
							iframe(src="https://www.youtube.com/embed/T3ZgIBOPR0o", data-src="https://www.youtube.com/embed/T3ZgIBOPR0o")


					.topic Listening to feedback

					p.
						In 1967, following her separation from Arman, Radigue returned to live in Paris. Pierre Henry, whose assistant had just resigned, invited her into his APSOME studio to help with L’Apocalypse de Jean, a composition on which she worked for free from 14 to 16 hours per day. The premiere was held at Théatre de la Musique in October 1968. “The preparation was utterly daunting. I installed his two Tolana phonogènes in my home because we could not work together in the studio. I would return with packets of his tapes and he would give me instructions to prepare several edits for him in order to undertake his selected mixes. But on one occasion he flew into a terrific fury, yelling at me abusively, ‘But what’s this you’ve brought me? I asked you for something in a highly differentiated polyphonic style!’ I remember precisely the expression! ‘Go and define that for me!’ A week after the concert, he called me back to ask me to do the score for La Noire à Soixante and I flatly refused. There was no falling out, just an estrangement.”

					p.
						This unpleasant experience nevertheless made it possible for Radigue to finish her first acousmatic versions and initiate her own language using the Larsen effect or feedback (Jouet Electronique, 1967), as well as her sound library collected in Nice (Elemental I, 1968).

					.video-outer.video-right
						.video-inner
							iframe(src="https://www.youtube.com/embed/zYx2RMb5D3A", data-src="https://www.youtube.com/embed/zYx2RMb5D3A")

					p.
						Feedback, which she wanted to find a way to tame, was the subject of several other “wild” compositions (Vice Versa, etc. Usral, Stress Osaka, Omnht) that play on the nuances of infinitesimal timbres. “When one maintains the balance between a microphone and a loudspeaker, there is a very precise limit in order to make it change ever so slightly,” she points out. “If you go too near to the speaker, everything collapses. If one moves too far away, it disappears. It was a technique that not only required the ability to listen, but gestural patience.” This “listening skill” was a recurring term in the Radigue lexicon, prefiguring the concept of “deep listening,” expressed by Pauline Oliveros some years later.

					p.
						Radigue also refined her control of tape recorders, the famous Tolana phonogene that Pierre Henry bequeathed her after she resigned. “Wonderful instruments with extremely sensitive potentiometers. It was enough to stroke them with the little finger, and just flick them to instantly effect a change. And that is what determined my initial vocabulary, from the richness of very high-pitched beats to deep pulsations.” In contrast to the spasmodic collages of musique concrète, she sought to achieve a form of organic fluidity, where cuts and dissonances would disappear completely.
					p.
						Between 1969 and 1974, Radigue experienced a particularly fruitful period during which she developed soundscapes, made up of several tapes looped and played back simultaneously. From these asynchronous continuums – sometimes extending over several hours – subtle harmonics would emerge. Devoid of montage, breaks or narration, this series of “unending music” <em>(In Memoriam Ostinato, Sigma=a=b=a+b, Labyrinthe Sonore, Σ = a = b = a + b...)</em>, occasionally accompanied by artworks, showed obvious parallels with the creations of La Monte Young and his wife Marion Zazeela in Dream House: an interweaving of electronic drones, subsequently assimilated to what would later be called drone music.
					p.
						Drone is a word Radigue has always rejected. Where drone music by definition is static, her own music is always changing, traversed by infinitesimal variations in amplitude that imperceptibly alter the structure. In Radigue’s work, sounds interact with each other like the cells of an organism, progressing in glissando in an extremely slow and subtle way. “I had found my own vocabulary. For me, maintaining the sound did not interest me as such; it was primarily a means to bring out the overtones, harmonics and subharmonics. This is what made it possible to develop this inner richness of sound.”

					//- big arp image
					.imgCenter
						img(src="http://image3.redbull.com/rbx00786/0001/1/1280/486/9a-Paris%201971-cr%C3%A9dit-Arman.091efb74.jpg")
						.caption Paris 1971 <span class="credit">Arman</span>

					.topic Analog synthesis

					p.
						Radigue returned to New York in 1970 at the invitation of NYU, which placed a studio at her disposal, installed by Morton Subotnick and equipped with a Buchla synthesizer. She shared the studio with two legendary figures of the New York avant-garde: Laurie Spiegel and Rhys Chatham, who regularly put her on the program at The Kitchen and introduced to her La Monte Young and Marion Zazeela. She also acquainted herself with artists sharing a similar approach: Pauline Oliveros, Robert Ashley, Max Neuhaus, David Behrman, Phill Niblock and Alvin Lucier.

					p.
						Around this time, Radigue sensed that electronic synthesis, which was still emerging, would grant her the keys to a new language. <em>Chry-ptus</em>, composed entirely on the Buchla, was the first significant concert of her life. It was presented at Columbus Circle in New York in April 1971 before forty or so thunderstruck people.

					.video-outer.video-right
						.video-inner
							iframe(src="https://www.youtube.com/embed/IPXt4mqAQr4", data-src="https://www.youtube.com/embed/IPXt4mqAQr4")

					p.
						After some trial and error on other synthesizers like the EML ElectroComp or the Moog, she eventually settled on the ARP 2500. “When I used to work with the Buchla and I turned the knobs, sometimes to a hair’s breadth, it was very tricky. If I made the slightest false move, disconnecting one ever so marginally, everything would evaporate. On the other hand, the ARP offered me an immediate reading, since the oscillators going into a particular module or output were all in front of me. Except that the switches had one flaw: they hissed. But, for me, that is precisely what procured this richness and subtlety of sound. The Moog and Buchla are wonderful instruments, but conversely, their sonority is very clear and metallic.”

					p.
						Thanks to the ARP, harmonics were back at the center of her compositions. Radigue was able to sculpt and sound out the slightest resonances, depending on the space where her works would be heard. Her modulations became more exact, forming long hypnotic chants. Her music from this period was introspective music, conducive to meditation, where “virtuosity of listening” replaced that of the musician.

					.topic The spirit of the sound

					p.
						In 1973, Radigue produced <em>ψ 847</em>, another pivotal piece. In this pivotal 80-minute composition, she elucidated all that would become central in her music: the sweeping waves, the breath, intervals, and resonances. “The idea of this piece was to take a body of sound that would have been like a cone from which I was pulling the threads one by one to exploit them... Even if you do not necessarily hear it in the end, I must always have this vision, the primary image that serves as a score.”

					.video-outer.video-right
						.video-inner
							iframe(src="https://www.youtube.com/embed/94GKuHU3E1k", data-src="https://www.youtube.com/embed/94GKuHU3E1k")

					p.
						Mesmerizing and contemplative, <em>ψ 847</em> seems to “seep from the walls,” according to composer Tom Johnson. No brutal haste, no breaks, no narration, but instead a vibratory intensity that commands extreme concentration. The same year, she completed two shorter pieces – <em>Transamorem-Transmortem</em> and <em>Biogenesis</em> – based on the heartbeats of her son, her pregnant daughter and her unborn grandson, addressing consciousness as much as the ear.

					.video-outer.video-right
						.video-inner
							iframe(src="https://www.youtube.com/embed/0kEIKK_Jzr0", data-src="https://www.youtube.com/embed/0kEIKK_Jzr0")

					p.
						After converting to Buddhism in 1974, under the encouragement of Terry Riley, her music entered into resonance with her spiritual discipline, latent since her beginnings. Thus, she introduced the <em>Adnos</em> trilogy (1974-1980-1982), a cornerstone of the electronic avant-garde, with a metaphor that resonates like a haiku: “to displace stones in the river bed does not affect the course of water, but rather modifies the way the water flows.”



					p.
						Her devotion to Tibetan Buddhism became the guiding thread of her work from the ’80s onwards, starting with <em>Les Chants de Milarepa</em> in 1983, where the precepts of the Lama Kunga Rinpoche are recited by Robert Ashley, and <em>Jetsun Mila</em> (1986), inspired by the life of the great yogi and poet Milarepa who lived in Tibet in the 11th century. The <em>Trilogie de la Mort</em> – composed of <em>Kyema</em> (1988), <em>Kailasha</em> (1991) and <em>Koumé</em> (1993) – marked a milestone in her life, as much for the compositional process as the tragic episode to which the work was related: the loss of her son, who died aged 34 in a car accident, and the passing of her spiritual master, the Lama Kunga Rinpoche.

					p.
						More and more ascetic and ascendant, Radigue’s later music continued to refine her art of slowing down, arousing images buried deep inside being. Her last electronic piece, <em>L’Ile Re-Sonante</em> (2000), produced using her ARP 2500 and a Serge Modulator, offers an impressionistic and virtually hallucinatory topography. At the core of this immersive symphony, conceived as an expansive crescendo / decrescendo, arise angelic chant loops, before entwining in the meanders of a spectral blizzard.

					.topic From the electronic to the acoustic

					p.
						If continuous sounds can be generated synthetically, then why not by humans playing instruments? In 2003, at the request of the noise composer, Kasper T. Toeplitz, Radigue devoted herself to her first piece with “traditional” instruments, <em>Elemental II</em>, which Toeplitz performed on the electric bass connected to MAX / MSP software. She repeated the experiment in 2004 with the cellist Charles Curtis, who encouraged her to abandon electronics and focus exclusively on acoustic sounds. She definitively separated from the ARP – what she still calls her “other half” – in 2006.

					p.
						Accordingly, brass and strings have enriched her music with new timbres and resonances, renewing her creative process. The <em>Naldjorlak</em> and <em>Occam</em> series reflect this increasingly organic approach to sound. She completed Occam Ocean in 2015; her first orchestral piece, performed for the first time last October at the Eglise St Merry in Paris. “It’s an entirely natural and normal continuity,” she beams. “Someone once said I was trying to do with acoustic music what I had tried to do with electronic music, but it’s the exact opposite! With these wonderful musicians, I found what I had tried to accomplish alone with my ARP. What was important was to restore the spirit.”

					p.
						That spirit is, as Radigue puts it, an effort to access the “mysterious power of the infinitesimal” – the throughline to a remarkable oeuvre that is already being rediscovered and played by new generations. In a career that now spans more than half a century, her ascetic rigor and sense of the absolute have left a significant imprint on experimental music that will continue to reverberate into the future.

					p.
						<em>The author would like to thank Julien Sirjacq, Manu Holterbach and Maxime Guitton for their help with this piece.</em>


					footer
						img.footer-logo(src="images/footer-logo.svg")

						.footer-title Red Bull Music Academy Daily

						p.footer-text.
							The Red Bull Music Academy Daily is the online publication by the Red Bull Music Academy, a global music institution committed to fostering creativity in music. Just like the Academy, we think of it as a platform for the essential ideas, sounds and people that have driven – and continue to drive – our culture forward.

						.sitemap
							.cell
								.link
									a(href="http://www.redbullmusicacademy.com") Red Bull Music Academy
								.link
									a(href="http://www.redbullmusicacademy.com/about") About
								.link
									a(href="http://www.redbullmusicacademy.com/events") Events
								.link
									a(href="http://www.redbullmusicacademy.com/lectures") Lectures

							.cell
								.link
									a(href="http://daily.redbullmusicacademy.com/") RBMA Daily
								.link
									a(href="http://daily.redbullmusicacademy.com/features") Features
								.link
									a(href="http://daily.redbullmusicacademy.com/interviews") Interviews
								.link
									a(href="http://daily.redbullmusicacademy.com/nightclubbing-features") Nightclubbing
								.link
									a(href="http://daily.redbullmusicacademy.com/studio-science") Studio Science
								.link
									a(href="http://daily.redbullmusicacademy.com/videos") Videos
								.link
									a(href="http://daily.redbullmusicacademy.com/galleries") Galleries

							.cell
								.link
									a(href="http://www.rbmaradio.com/") RBMA Radio
								.link
									a(href="http://www.rbmaradio.com/categories") Interviews & Features
								.link
									a(href="http://www.rbmaradio.com/categories/live-recordings-mixes") Live Recordings & Mixes
								.link
									a(href="http://www.rbmaradio.com/categories/local-spotlights") Local Spotlights

							.footer-social
								a(href="http://www.facebook.com/RedBullMusicAcademy")
									.social-icon.facebook
								a(href="http://twitter.com/rbma")
									.social-icon.twitter
								a(href="http://www.youtube.com/user/redbullmusicacademy")
									.social-icon.youtube
								a(href="http://www.vimeo.com/redbullmusicacademy")
									.social-icon.vimeo
								a(href="http://www.redbullmusicacademy.tumblr.com/")
									.social-icon.tumblr
								a(href="http://www.soundcloud.com/redbullmusicacademy")
									.social-icon.soundcloud
								a(href="http://www.instagram.com/redbullmusicacademy")
									.social-icon.instagram


			script(src="lib/glfx.js")
			script(src="js/bundle.js")